/*
Creator:            Chanakan C.
Creation date:      5/May/2021
*/

.modal {
    :global {
        .ant-btn-primary {
            background-color: #1890ff;
            border-color: #1890ff;
        }

        .highlight-cell {
            color: rgb(215, 44, 53);
            font-weight: 500;
        }

        .ant-modal-footer {
            text-align: center;
        }

        a {
            color: #1890ff;
        }

        .AllpayFieldTable {
            overflow-y: scroll;
        }
    }
  }
  
.pdfController {
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;

    Button {
        margin-left: 3px;
        margin-right: 3px;
    }
}

.pageNo {
    margin-left: 5px;
    margin-right: 5px;
}